<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- ConnectionPool bean -->
    <bean id="connectionPool" class="edu.sm.frame.ConnectionPool" factory-method="create"/>

    <!-- DAO beans -->
    <bean id="addressDao" class="edu.sm.dao.AddressDao"/>
    <bean id="boardDao" class="edu.sm.dao.BoardDao"/>
    <bean id="cartDao" class="edu.sm.dao.CartDao"/>
    <bean id="deliveryDao" class="edu.sm.dao.DeliveryDao"/>
    <bean id="mileageDao" class="edu.sm.dao.MileageDao"/>
    <bean id="orderDao" class="edu.sm.dao.OrderDao"/>
    <bean id="orderDetailDao" class="edu.sm.dao.OrderDetailDao"/>
    <bean id="paymentDao" class="edu.sm.dao.PaymentDao"/>
    <bean id="productDao" class="edu.sm.dao.ProductDao"/>
    <bean id="usedMileageDao" class="edu.sm.dao.UsedMileageDao"/>
    <bean id="wishDao" class="edu.sm.dao.WishDao"/>
    <bean id="customerDao" class="edu.sm.dao.CustomerDao"/>

    <!-- Service beans -->
    <bean id="customerService" class="edu.sm.service.CustomerService">
        <constructor-arg ref="customerDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="addressService" class="edu.sm.service.AddressService">
        <constructor-arg ref="addressDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="boardService" class="edu.sm.service.BoardService">
        <constructor-arg ref="boardDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="cartService" class="edu.sm.service.CartService">
        <constructor-arg ref="cartDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="deliveryService" class="edu.sm.service.DeliveryService">
        <constructor-arg ref="deliveryDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="mileageService" class="edu.sm.service.MileageService">
        <constructor-arg ref="mileageDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="wishService" class="edu.sm.service.WishService">
        <constructor-arg ref="wishDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="productService" class="edu.sm.service.ProductService">
        <constructor-arg ref="productDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="orderService" class="edu.sm.service.OrderService">
        <constructor-arg ref="orderDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <bean id="orderDetailService" class="edu.sm.service.OrderDetailService">
        <constructor-arg ref="orderDetailDao"/>
        <constructor-arg ref="connectionPool"/>
    </bean>

    <!-- Utils bean -->
    <bean id="utils" class="edu.sm.util.Utils">
        <constructor-arg ref="customerService"/>
        <constructor-arg ref="addressService"/>
        <constructor-arg ref="boardService"/>
        <constructor-arg ref="cartService"/>
        <constructor-arg ref="deliveryService"/>
        <constructor-arg ref="mileageService"/>
        <constructor-arg ref="wishService"/>
        <constructor-arg ref="productService"/>
        <constructor-arg ref="orderService"/>
        <constructor-arg ref="orderDetailService"/>
    </bean>

</beans>