<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CartRepository">

    <resultMap id="Cart" type="cartDto">
        <id property="cartId" column="cart_id"/>
        <result property="custId" column="cust_id"/>
        <result property="count" column="count"/>
        <result property="regDate" column="reg_date"/>
        <result property="totalPrice" column="total_price"/>
        <collection property="item" resultMap="Item"/>
    </resultMap>

    <resultMap id="Item" type="ItemDto">
        <id property="itemId" column="item_id"/>
        <result property="itemName" column="item_name"/>
        <result property="itemPrice" column="item_price"/>
        <result property="imgName" column="img_name"/>
    </resultMap>

    <select id="selectOne" parameterType="int" resultMap="Cart">
        SELECT ct.cart_id, ct.cust_id, ct.item_id, ct.count, ct.reg_date,
               c.cust_name,
               i.item_name, i.item_price, i.img_name,
               (ct.count * i.item_price) AS total_price
        FROM cart ct
                 JOIN cust c ON ct.cust_id = c.cust_id
                 JOIN item i ON ct.item_id = i.item_id
        WHERE ct.cart_id = #{cartId}
    </select>

    <select id="select" resultMap="Cart">
        SELECT ct.cart_id, ct.cust_id, ct.item_id, ct.count, ct.reg_date,
               i.item_name, i.item_price, i.img_name,
               (ct.count * i.item_price) AS total_price
        FROM cart ct
                 JOIN item i ON ct.item_id = i.item_id
        ORDER BY ct.cart_id
    </select>

    <insert id="insert" parameterType="cartDto">
        INSERT INTO cart VALUES (#{cartId}, #{custId}, #{itemId}, #{count}, #{regDate})
    </insert>

    <update id="update" parameterType="cartDto">
        UPDATE cart
        SET cust_id = #{custId},
            item_id = #{itemId},
            count = #{count},
            reg_date = #{regDate}
        WHERE cart_id = #{cartId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

</mapper>